<!DOCTYPE html>
<html>
  <header>
    <title>Jukebox</title>
  </head>

  <body>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= yield %>
  </body>
</html>
